.card__title {
    padding-bottom: 10px;
    margin: 0px 14px 0px 19px;
    border-bottom: 1px solid #000;
    line-height: 29px;
    font-size: 24px;
		height: 39.8px;
    font-weight: 400;
    color: #000642;
		overflow: hidden;
    text-overflow: ellipsis;
    /* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
		/* width: 100%; */
		white-space: nowrap;
}