.entry__button {
	padding: 0;
	margin-top: 216px;
	background-color: #fff;
	border: 1px solid black;
	border-radius: 2px;
	height: 50px;
	color: #000;
	font-family: 'Inter', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
}

.entry__button:hover {
	background-color: rgba(0,0,0,.85);
	color: white
}
