.card__button {
    border-radius: 24px;
    min-height: 35px;
    max-width: 512px;
    margin: 0px 14px 0px 19px;
    background-color: #E5EFFF;
    border: 1px solid #000642;
    color: #000642;
		margin-bottom: 20px;
}

.card__button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #010d92;
}