.header__link {
	margin: 0 0 0;
	padding: 0 0 0;
	font-family: 'Inter', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: black;
	text-decoration: none;
	transition: opacity 0.2s linear;
	align-self: center;
	padding-left: 300px;
}

.header__link:hover {
	opacity: 0.6;
	cursor: pointer;
}