.footer__contact {
    width: 40px;
    height: 40px;
    padding-top: 10px;
}
.footer__contact:hover {
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    .footer__contact {
        width: 30px;
        height: 30px;
    }
}