.lk__scroll-table {
	width: 562px;
	margin-top: 40px;
	height: 386px;
}

.lk__scroll-table table {
	width: 100%;
	table-layout: fixed;
	border: none;
}
.lk__scroll-table thead th {
	font-weight: 700;
	line-height: 17px;
	text-align: end;
	border: none;
	padding: 12px 0;
	font-size: 14px;
	color: #6AAB8C;
	margin: 0;
}

.lk__scroll-table thead th:first-child {
	width: 240px;
	text-align: start;
	padding-right: 30px;
}

.lk__scroll-table tbody td {
	text-align: right;
	padding: 12px 0;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	vertical-align: center;
	margin: 0;
}

.lk__scroll-table tbody td:first-child {
	text-align: left;
}

@media screen and (max-width:1200px) and (min-width: 980px) {
	.lk__scroll-table tbody td:last-child{
		padding-left: 125px;
	}
}

@media screen and (max-width:980px){
	.lk__scroll-table tbody td:last-child{
		padding-left: 15px;
	}
}

.lk__scroll-table tbody td h3 {
	padding: 12px 0;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	text-align: right !important;
}

.lk__scroll-table tbody td img {
	margin-top: 12px;
	height: 16px;
	box-sizing: border-box;
	background-size: cover;
	margin-left: 100px;
}
/* Стили для скролла */
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 24px;
	background-color: #D2E3DB;
}

@media screen and (max-width: 1200px) {
	.lk__scroll-table {
		width: 800px;
		margin: 0 auto;
		margin-top: 40px;
	}
}

@media screen and (max-width: 980px) {
	.lk__scroll-table {
		width: 580px;
		margin: 0 auto;
		margin-top: 40px;
	}
}