.popup__download {
	border: none;
	border-radius: 8px;
	height: 35px;
	display: flex;
	align-items: center;
	padding: 0;
	padding-right: 12px;
	background-color: #ADCDFF;
	color: #000642;
	max-width: 253px;
	margin-top: 4px;
	margin-bottom: 20px;
}

.popup__download:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px #000642;
}