.footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #7D1128;
    margin-top: 71px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.footer:before{ 
    content: " ";
    background: #194D4D;
    width: 430px;
    height: 1px;
    right: 0px;
    top: 30px;
    position: absolute;
}

@media screen and ( max-width: 1280px) {
    .footer {
        padding-left: 88px;
        padding-right: 88px;
    }
}

@media screen and ( max-width: 900px) {
    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer:before {
        width: 200px;
    }
}