.filter__buttons_canceled {
	border-radius: 30px;
	background-color: #F5E0EF;
	border: 1px solid #8F0028;
	color: #8F0028;
	padding: 8px 17px;
}

.filter__buttons_canceled:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px #8F0028;
}

.filter__buttons_canceled:focus {
	cursor: pointer;
	background-color: #8F0028;
	color: #F5E0EF;
	box-shadow: 0px 0px 10px #8F0028;
}