.welcome__title {
    margin: 0;
    line-height: 77px;
    font-weight: 400;
    font-size: 64px;
    color: #000;
    padding-top: 90px;
    max-width: 615px;
    justify-self: center;
}

.welcome__title .accent_task {
    color: #000642
}

.welcome__title .accent_coins {
    color: #194D4D;
}

@media screen and ( max-width: 900px) {
    .welcome__title {
        font-size: 40px;
        line-height: 40px;
        max-width: 315px;
        padding-top: 20px;
    }
}

@media screen and ( max-width: 650px) {
    .welcome__title {
        padding-top: 20px;
        max-width: 615px;
    }
}