.popup__container {
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 0 25px rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 713px;
    min-height: 400px;
		margin-right: 30px;
		margin-left: 30px;
}

@media screen and (max-width: 550px) {
    .popup__container {
        width: 450px;
				margin: 0;
    }
}