@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__title/__title-accent/header__title-accent.css);
@import url(./blocks/header/__info/header__info.css);
@import url(./blocks/header/__person/header__person.css);
@import url(./blocks/header/__person/_name/header__person-name.css);
@import url(./blocks/header/__person/_group/header__person-group.css);
@import url(./blocks/header/__coins/header__coins.css);
@import url(./blocks/header/__avatar/header__avatar.css);
@import url(./blocks/header/__packet/header__packet.css);
@import url(./blocks/header/__span/header__span.css);

@import url(./blocks/content/content.css);

@import url(./blocks/welcome/welcome.css);
@import url(./blocks/welcome/__title/welcome__title.css);
@import url(./blocks/welcome/__gif/welcome__gif.css);

@import url(./blocks/filter/filter.css);

@import url(./blocks/filter/__search/__search-input/filter__search-input.css);
@import url(./blocks/filter/__search/__search-button/filter__search-button.css);

@import url(./blocks/filter/__select/filter__select.css);
@import url(./blocks/filter/__select/__select-option/filter__select-option.css);

@import url(./blocks/cards/cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__info/card__info.css);
@import url(./blocks/card/__coins/card__coins.css);
@import url(./blocks/card/__coins/__coins-icon/card__coins-icon.css);
@import url(./blocks/card/__coins/__coins-number/card__coins-number.css);
@import url(./blocks/card/__subject/card__subject.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__description/card__description.css);
@import url(./blocks/card/__button/card__button.css);
@import url(./blocks/card/__delete-button/card__delete-button.css);
@import url(./blocks/card/__added/card__added.css);
@import url(./blocks/card/__status/card__status.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__title/footer__title.css);
@import url(./blocks/footer/__title/__title-accent/footer__title-accent.css);
@import url(./blocks/footer/__contacts/footer__contacts.css);
@import url(./blocks/footer/__contact/footer__contact.css);
@import url(./blocks/footer/__content/footer__content.css);
@import url(./blocks/footer/__copyrigth/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__header/popup__header.css);
@import url(./blocks/popup/__header-info/popup__header-info.css);
@import url(./blocks/popup/__header-subject/popup__header-subject.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__description/popup__description.css);
@import url(./blocks/popup/__download/popup__download.css);
@import url(./blocks/popup/__download-icon/popup__download-icon.css);
@import url(./blocks/popup/__button/popup__button.css);

@import url(./blocks/popup/__textarea/popup__textarea.css);

@import url(./blocks/lk/lk.css);
@import url(./blocks/lk/__image/lk__image.css);
@import url(./blocks/lk/__scroll-table-title/lk__scroll-table-title.css);
@import url(./blocks/lk/__scroll-table-body/lk__scroll-table-body.css);
@import url(./blocks/lk/__scroll-table/lk__scroll-table.css);
@import url(./blocks/lk/__scroll-table-subject/lk__scroll-table-subject.css);

@import url(./blocks/filter/__buttons/filter__buttons.css);
@import url(./blocks/filter/__buttons/_progress/filter__buttons_progress.css);
@import url(./blocks/filter/__buttons/_now/filter__buttons_now.css);
@import url(./blocks/filter/__buttons/_done/filter__buttons_done.css);
@import url(./blocks/filter/__buttons/_canceled/filter__buttons_canceled.css);

@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/entry/entry.css);
@import url(./blocks/entry/__button/entry__button.css);
@import url(./blocks/entry/__form/entry__form.css);
@import url(./blocks/entry/__input/entry__input.css);
@import url(./blocks/entry/__link/entry__link.css);
@import url(./blocks/entry/__subtitle/entry__subtitle.css);
@import url(./blocks/entry/__title/entry__title.css);
@import url(./blocks/popup/__alert/popup__alert.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/nocards/nocards.css);