.filter {
    display: flex;
    flex-direction: row;
    column-gap: 55px;
    padding-left: 15px;
}

@media screen and ( max-width: 1280px) {
    .filter {
        padding-left: 88px;
    }
}

@media screen and ( max-width: 900px) {
    .filter {
        padding-left: 30px;
        padding-top: 10px;
    }
}