.header {
	background-color: #FDFFFC;
	justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 29px;
  max-width: 1600px;
}

@media screen and ( max-width: 1280px) {
	.header {
		padding-left: 88px;
		padding-right: 88px;
	}
}

@media screen and ( max-width: 900px) {
	.header {
		padding-left: 30px;
		padding-right: 30px;
	}
}