.entry__input {
	margin-top: 30px;
	padding: 0px 0 13px;
	border: 0;
	font-family: 'Inter', Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: black;
	border-bottom: 2px solid black;
	background-color: transparent;
}

.entry__input:focus {
	box-shadow: 0px 0px 10px #194D4D;
	border-radius: 0;
	outline: none;
}