.popup {
    align-items: center;
    background-color: rgba(0,0,0,.1);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: visibility .2s,opacity .3s linear;
    visibility: hidden;
    width: 100vw;
    backdrop-filter: blur(7px);
}